.main {
    height: auto;

}

.home1 {
    height: 695px;
    background-image: url(../img/home_iphone15pro.png);  
}

.home2 {
    height: 695px;
    background-image: url(../img/home_iphone15pro.png);  
}

.home3 {
    height: 695px;
    background-image: url(../img/home_iphone15pro.png);  
}

h3 {
    
}